{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div>
<h2>Hi</h2>
<p>I'm Shin Feng, a meticulous, driven team player with good written and verbal communication skills, and a passionate interest in technology. Looking for a start in the IT industry to learn its trades and build on my skills in Programming, Web Design and Software Development.
<br><br>
Check out my other social media pages: <br>
<a href="https://github.com/twirle">git</a> <br>
<a href="https://twirle.wordpress.com/">wordpress</a> <br>
<a href="https://twitter.com/AcrylicBlaze">twitter</a> <br>
<a href="https://www.youtube.com/user/AcrylicBlaze">youtube</a> <br>
<a href="twitch.tv/twirle">twitch</a> <br>




</p>
</div>

<br>

<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
